@import "tailwindcss";

@theme {
  /* This generates 'text-brand-orange' and 'bg-brand-orange' */
  --color-brand-orange: #FF7A00;
  --color-cod-gray: #111111;
  
  /* Use '--background-image-' to generate the 'bg-text-gradient' utility */
  --background-image-text-gradient: linear-gradient(to right, #FFB800 0%, #FF7A00 100%);
}

@layer base {
  body {
    /* Apply 'Cod Gray' background globally using your theme variable */
    @apply bg-cod-gray text-white antialiased;
  }
}