services:
  mongo:
    image: mongo:latest
    container_name: mongodb
    ports: ["27017:27017"]
    volumes: ["mongo_data:/data/db"]

  server:
    build:
      context: ..
      dockerfile: docker/Dockerfile.server
    container_name: backend_server
    ports: ["5000:5000"]
    depends_on: ["mongo"]

  client:
    build:
      context: ..
      dockerfile: docker/Dockerfile.client
    container_name: frontend_client
    ports: ["80:80"]
    depends_on: ["server"]

volumes:
  mongo_data: